apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod
resources:
- ../../base/
- aonec_bot-ingress.yml

patches:
  - path: aonec_bot-deployment.yml

images:
  - name: aonec-bot_image_name
    newName: cr.yandex/crp7c1crhqf81ppp32bp/aonec-bot
    newTag: 1.1.8

configMapGenerator:
  - name: aonec-env
    envs:
    - aonec.env
