apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod
resources:
- ../../base/
- spa-ingress.yml

patches:
  - path: spa-deployment.yml

images:
  - name: spa_image_name
    newName: cr.yandex/crpnm76utfphmac4qo1t/spa
    newTag: 0.2.6
