apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: stage
resources:
- ../../base/
- aonec_bot-ingress.yml

patches:
  - path: aonec_bot-deployment.yml

images:
  - name: aonec_bot_image_name
    newName: cr.yandex/crpnm76utfphmac4qo1t/aonec_bot
    newTag: latest
