apiVersion: apps/v1
kind: Deployment
metadata:
  name: aonec-bot
  labels:
    app: aonec-bot
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: aonec-bot
  template:
    metadata:
      labels:
        app: aonec-bot
    spec:
      containers:
        - name: aonec-bot
          image: aonec-bot_image_name
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: aonec-env
      restartPolicy: Always
