apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: spa
  annotations:
    ingress.alb.yc.io/subnets: e9b98k3hqkb4fkcsu7hs
    ingress.alb.yc.io/external-ipv4-address: 51.250.3.196
    ingress.alb.yc.io/group-name: frontend
spec:
  tls:
    - hosts:
        - stage.my.ttplatform.ru
  rules:
    - host: stage.my.ttplatform.ru
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: spa
                port:
                  number: 80